---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Michael Banna • Apple Platform Developer">
  <canvas
    class="absolute inset-0 w-full h-full"
    id="gradient-canvas"
    data-transition-in></canvas>
  <footer class="flex flex-col justify-center items-center px-auto md:mx-auto mx-4 text-writing-light opacity-70 py-12 text-center" style="font-family: 'Neue Montreal', monospace;">
    <div class="mb-1">designed & built by <span class="font-bold text-primary">michael banna</span>. ©
    may 2026</div>
    <div class="text-sm opacity-70">set in pp neue montreal by <a href="https://pangrampangram.com" target="_blank" rel="noopener noreferrer" class="hover:underline">pangram pangram</a></div>
  </footer>
  <div class="visible md:invisible h-24"></div>
</Layout>

<style>
  #gradient-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    --gradient-color-1: #dce6ef;
    --gradient-color-2: #bccddd;
    --gradient-color-3: #8fa8be;
    --gradient-color-4: #53677f;
  }
</style>
<script>
  import { Gradient } from '../tools/Gradient.js';
  const gradient = new Gradient();
  gradient.el = document.getElementById('gradient-canvas');
  gradient.connect();
</script>
