<div class="h-full w-full text-writing-light">
  <p class="mt-4 leading-6 text-justify tabular-nums">
    Hi there! My name is Michael Banna, and I'm originally from Montreal, Canada. I'm currently a software engineering student at Polytechnique Montreal, and I'll be graduating in May 2025.
    Excitingly, this fall (September 2023 - December 2023), I'll be pursuing an exchange semester at UBC in Vancouver.
  </p>
  <p class="mt-4 leading-6 text-justify tabular-nums">
    I'm passionate about front-end development and UI/UX design. I love creating engaging and user-friendly interfaces that provide a great user experience.
    I enjoy exploring the latest trends and technologies in the field to stay up-to-date with the ever-evolving web development landscape.
  </p>
  <p class="mt-4 leading-6 text-justify tabular-nums">
    Aside from coding, I have a deep love for music, particularly pop and R&B genres. Listening to music helps me unwind and find inspiration for my projects.
    Additionally, in my free time, I enjoy playing video games, which allow me to relax, have fun, and occasionally challenge my problem-solving skills.
  </p>
</div>

