---
import Socials from '../components/Socials.astro'
import Resume from '../components/Resume.astro'
---
<div class="w-full flex flex-row h">
  <div
    class="bg-primary-dark text-primary-light p-4 fixed top-0 z-50 ml-5 mt-5 rounded-lg shadow-lg opacity-100 h-20 text-xl w-2/5"
  >
    <nav class="flex items-center justify-between  content-center h-full mr-2 ml-2">
      <a
        class="text-2xl font-bold hover:text-writing-dark transition-all"
        href="/">michael banna</a
      >
      <ul class="flex space-x-4">
        <li>
          <a class="hover:text-writing-dark transition-all" href="/#about"
            >about</a
          >
        </li>
        <li>
          <a class="hover:text-writing-dark transition-all" href="/#experience"
          >experience</a
          >
        </li>
        <li>
          <a class="hover:text-writing-dark transition-all" href="/#projects"
            >projects</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div
    class="bg-primary-dark text-primary-light p-4 fixed top-0 right-0 z-50 mr-5 mt-5 rounded-lg shadow-lg opacity-100 flex flex-row justify-between h-20 w-fit"
  >
    <Socials />
</div>
</div>
