---
import Socials from './Socials.astro';
---
<div class="fixed bottom-5 left-0 right-0 z-50 px-5">
  <div class="max-w-screen-xl mx-auto">
    <div class="bg-primary-dark text-primary-light p-4 rounded-lg shadow-lg opacity-100 h-20 flex items-center justify-center">
      <Socials/>
    </div>
  </div>
</div>