---
import Socials from './Socials.astro';
---
<div class="fixed bottom-5 z-50 w-full">
    <div class="space-x-4 mx-5 bg-primary-dark text-primary-light rounded-lg shadow-lg opacity-100 h-20 text-xl flex content-center justify-center">
        <div class="p-3 w-full">
        <Socials/>
        </div>
    </div>
</div>