<div class="text-2xl">
  <a href="https://linkedin.com/in/bannamichael"  data-tooltip-target="tooltip-linkedin" data-tooltip-placement="bottom">
    <i class="fa fa-linkedin hover:text-writing-dark transition-all p-3"></i></a
  >
  <a href="https://github.com/bmchl"  data-tooltip-target="tooltip-github" data-tooltip-placement="bottom">
    <i class="fa fa-github hover:text-writing-dark transition-all p-3"></i>
  </a>
  <a href="https://behance.net/bannamichael" data-tooltip-target="tooltip-behance" data-tooltip-placement="bottom">
    <i class="fa fa-behance hover:text-writing-dark transition-all p-3"></i>
  </a>
  <a href="mailto:michael@banna.dev" data-tooltip-target="tooltip-mail" data-tooltip-placement="bottom" 
>
    <i class="fa fa-envelope hover:text-writing-dark transition-all p-3"></i>
</a>
  <a
      href="public/Michael_Banna_Resume.pdf"
      target="_blank"
      rel="noopener noreferrer"
      data-tooltip-target="tooltip-resume"
      data-tooltip-placement="bottom"
    >
        <i class="fa fa-file hover:text-writing-dark transition-all p-3"></i>
    </a>
</div>

<div id="tooltip-linkedin" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-writing-dark ransition-opacity duration-300 bg-primary rounded-lg shadow-sm opacity-0 tooltip">
    connect with me on linkedin
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>
<div id="tooltip-github" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-writing-dark ransition-opacity duration-300 bg-primary rounded-lg shadow-sm opacity-0 tooltip">
    browse my github
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>
<div id="tooltip-behance" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-writing-dark ransition-opacity duration-300 bg-primary rounded-lg shadow-sm opacity-0 tooltip">
    view my behance
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>
<div id="tooltip-mail" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-writing-dark ransition-opacity duration-300 bg-primary rounded-lg shadow-sm opacity-0 tooltip">
    send me an email
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>
<div id="tooltip-resume" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-writing-dark ransition-opacity duration-300 bg-primary rounded-lg shadow-sm opacity-0 tooltip">
    download my resume
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>
