<div class="container">
  <img class="w-1/4 h-auto rounded-full float-left mr-4" src="/media/avi.jpeg" alt="Profile Picture">
  <div class="text-justify text-primary-dark">
    <p class="mt-4 leading-6">
      Hi there! My name is Michael Banna, and I'm originally from Montreal, Canada. I'm currently a software engineering student at Polytechnique Montreal, graduating in May 2025.
      Excitingly, this fall, I'll be pursuing an exchange semester at The University of British Columbia in Vancouver.
    </p>
    <p class="mt-4 leading-6">
      I'm passionate about front-end development and UI/UX design. I love creating engaging and user-friendly interfaces that provide a great user experience.
      I enjoy exploring the latest trends and technologies in the field to stay up-to-date with the ever-evolving web development landscape.
    </p>
    <section id="experience"></section>
    <p class="mt-4 leading-6">
      Aside from coding, I have a deep love for music, particularly pop and R&B genres. Listening to music helps me unwind and find inspiration for my projects.
      Additionally, in my free time, I enjoy playing video games, which allow me to relax, have fun, and occasionally challenge my problem-solving skills.
    </p>
  </div>
</div>



