<div class="container">
  <img class="w-1/4 h-auto rounded-full float-left mr-4" src="/media/avi.jpeg" alt="Profile Picture">
  <div class="text-justify text-primary-dark neue-montreal">
    <p class="mt-4 leading-6">
      hello, thanks for visiting! let me introduce myself.
    </p>
    <p class="mt-4 leading-6">
      my name is <span class="font-bold text-primary">michael banna</span>. i’m a software developer by day, and also by night. i’ve been passionate about creating things for as long as i can remember, and i have a true instinct in resourcefulness when it comes to solving complex problems.
    </p>
    <p class="mt-4 leading-6">
      for more background on me: i’m a soon-to-be graduate in software engineering at <a href="https://www.polymtl.ca/en" target="_blank" rel="noopener noreferrer"><span class="font-bold text-primary hover:underline">polytechnique montréal</span></a> (may 2025), having recently completed an academic exchange at <a href="https://www.ubc.ca" target="_blank" rel="noopener noreferrer"><span class="font-bold text-primary hover:underline">ubc</span></a> in vancouver. in terms of work experience, i have spent time in teams of varying sizes, contributing to & learning from large codebases in order to improve efficiency and intuitiveness for both the end-user and the fellow developer.
    </p>
    <p class="mt-4 leading-6">
      beyond tech, i’m a huge pop and r&amp;b music fan with an ever-growing vinyl record collection. music is a significant influence in my life, and i enjoy keeping up with the tools & logistics behind music production, publishing, and streaming platforms. i also think modern consumer tech is the ultimate bio-hacking tool, unlocking users’ natural potential. my appreciation for the creative & wellness spaces informs how i build software that resonates on a human level.
    </p>
    <p class="mt-4 leading-6">
      as someone of middle-eastern origin, i care deeply about the social and political impact of the tools we build. i believe that all software should be instilled in both good development patterns and ethical values. my technical experience in building stable & intuitive interfaces coupled with my eye for detail helps make my projects accessible to all.
    </p>
    <p class="mt-4 leading-6">
      in all, my passion lies at the intersection of responsible tech and consumer media. i strive to build with both precision and personality: software that doesn’t just work, but excels.
    </p>
  </div>
</div>



