---

---
<div class="flex flex-col items-center justify-center h-screen text-primary-dark w-full content-center">
  <h1 id="hero-title" class="bg-transparent relative text-7xl z-10 m-auto mb-0 leading-tight">
    <span id="part-1" class="opacity-0 transition-all duration-1000 font-bold italic">welcome,</span><br>
    <span id="part-2" class="opacity-0 transition-all duration-1000 font-bold">
      it's <span class="font-black">michael</span>!
    </span>
  </h1>
  <a href="/#about" id="part-3" class="text-center m-auto mt-20 p-0 pl-0 pr-5 font-bold underline underline-offset-8 opacity-0 transition-all duration-500 text-primary-dark text-xl">
    <i class="pr-3 no-underline fa fa-arrow-down animate-bounce"></i> let's meet
  </a>
</div>
<script>
  window.addEventListener('load', function() {
    setTimeout(() =>{
      const h1 = document.getElementById('part-1');
      console.log(h1);
      h1?.classList.remove('opacity-0');
      h1?.classList.add('opacity-80');
    }, 100);
        setTimeout(() =>{
      const h1 = document.getElementById('part-2');
      console.log(h1);
      h1?.classList.remove('opacity-0');
      h1?.classList.add('opacity-80');
    }, 400);
    setTimeout(() =>{
      const h1 = document.getElementById('part-3');
      console.log(h1);
      h1?.classList.remove('opacity-0');
      h1?.classList.add('opacity-80');
    }, 800);
        
  });
</script>