---

---
<div class="flex flex-col items-center justify-center h-screen text-primary-dark w-full content-center">
  <h1 id="hero-title" class="relative text-4xl md:text-7xl z-10 m-auto mb-0 leading-tight font-medium" style="font-family: 'Neue Montreal', monospace;">
    <span id="part-1" class="opacity-0 transition-all duration-1000 font-medium italic">welcome,</span><br>
    <span id="part-2" class="opacity-0 transition-all duration-1000 font-medium">
      it's <span class="font-bold">michael</span>.
    </span>
  </h1>
  <button id="part-3" class="text-center m-auto mt-20 p-0 pl-0 pr-5 font-medium underline underline-offset-8 opacity-0 transition-all duration-500 text-primary-dark text-xl bg-transparent border-none cursor-pointer" style="font-family: 'Neue Montreal', monospace;">
    <i class="pr-3 no-underline fa fa-arrow-down animate-bounce"></i> let's meet
  </button>
</div>
<script>
  window.addEventListener('load', function() {
    setTimeout(() =>{
      const h1 = document.getElementById('part-1');
      console.log(h1);
      h1?.classList.remove('opacity-0');
      h1?.classList.add('opacity-80');
    }, 100);
        setTimeout(() =>{
      const h1 = document.getElementById('part-2');
      console.log(h1);
      h1?.classList.remove('opacity-0');
      h1?.classList.add('opacity-80');
    }, 400);
    setTimeout(() =>{
      const h1 = document.getElementById('part-3');
      console.log(h1);
      h1?.classList.remove('opacity-0');
      h1?.classList.add('opacity-80');
    }, 800);
        
    document.getElementById('part-3')?.addEventListener('click', function() {
      const mainContent = document.querySelector('main');
      if (mainContent) {
        mainContent.scrollIntoView({ behavior: 'smooth' });
      }
    });
  });
</script>