---
import Project from '../components/Project.astro';
import Layout from '../layouts/Layout.astro';

export let data = {
  projects: [
    {
      githubLink: 'https://github.com/bmchl/ChessGame',
      projectName: 'Chess Game',
      projectDescription: 'A playable desktop chess game with end-of-game scenario selection',
      date: 'April 2022',
      languages: ['C++', 'Qt'],
      image: '/media/chess.png',
    },
    {
      githubLink: 'https://github.com/bmchl/MusicWebApp',
      projectName: 'Music Streaming Platform',
      projectDescription: 'A fully functional server-backed music streaming platform with dynamic React components',
      date: 'November 2022',
      languages: ['JavaScript', 'React', 'Express', 'MongoDB'],
      image: '/media/musicapp.png',
    },
    {
      accessLink: 'http://polytechnique-montr-al.gitlab.io/log2990/20231/equipe-306/LOG2990-306/#/home',
      projectName: 'Find The Difference Game',
      projectDescription: 'An image comparison game with a creation tool and multiplayer mode',
      date: 'January 2023 - April 2023',
      languages: ['TypeScript', 'Angular', 'Node.js', 'Express', 'MongoDB'],
      image: '/media/7down.png',
    },
     {
      githubLink: 'https://github.com/bmchl/bannadotdev',
      projectName: 'This website!',
      projectDescription: 'An Astro website hosted on Netlify, with Flowbite components and a mesh gradient background',
      date: 'July 2023',
      languages: ['Astro', 'TypeScript', 'TailwindCSS'],
      image: '/media/bannadotdev.png',
    },
    {
      behanceLink: 'https://www.behance.net/gallery/161561107/Course-Creation-Platform-UI',
      projectName: 'Course Creation UI Redesign',
      projectDescription: 'A comprehensive UI/UX case study for a university course creation form',
      date: 'December 2022',
      languages: ['Figma'],
      image: '/media/coursecreation.png',
    },
  ],
};

const { projects } = data;
---
<div id="default-carousel" class="relative w-full h-96 md:h-80 transition-all mt-8" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-96 overflow-hidden rounded-lg md:h-80">
      {
      projects.map((project) => (
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <Project {...project} />
        </div>
      ))
    }
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2 text-primary-dark bg-primary-light p-4 rounded-full mt-24 ">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="4"></button>
      </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-primary-light dark:bg-gray-800/30 group-hover:bg-primary dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none transition-all">
            <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-primary-light dark:bg-gray-800/30 group-hover:bg-primary dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none transition-all">
            <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>


