---
import Header from '../components/Header.astro';
import MobileHeader from '../components/MobileHeader.astro';
import CompactHeader from '../components/CompactHeader.astro';
import Hero from '../sections/Hero.astro';
import '../fonts.css';
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-writing-dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script
      src="https://kit.fontawesome.com/335df166b2.js"
      crossorigin="anonymous"></script>
      <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="w-full neue-montreal">
    <Hero />
    <div class="invisible lg:visible">
      <Header />
    </div>
    <div class="invisible md:visible lg:invisible">
      <CompactHeader />
    </div>
    <div class="visible md:invisible">
      <MobileHeader/>
    </div>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/neue-montreal/PPNeueMontreal-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/neue-montreal/PPNeueMontreal-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/neue-montreal/PPNeueMontreal-Book.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/neue-montreal/PPNeueMontreal-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/neue-montreal/PPNeueMontreal-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/neue-montreal/PPNeueMontreal-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/neue-montreal/PPNeueMontreal-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/neue-montreal/PPNeueMontreal-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: 'Neue Montreal', system-ui, sans-serif;
    background-color: #f6f6f6;
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Neue Montreal', system-ui, sans-serif;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  .neue-montreal {
    font-family: 'Neue Montreal', system-ui, sans-serif;
  }
</style>
